
<nav class="navbar bg-body-tertiary">
  <div class="header">
  <div class="header-1">
    <div class="nav-part-1" routerLink="">
      <div>
        <img class="logo" src="https://wallpapers.com/images/high/obito-sharingan-red-pfp-jtctux2exh8rozbl.webp" alt="">
      </div>
      <div class="nav-Brand">StoreMart</div>
    </div>
    <form class="nav-part-2" #product ="ngForm"  (ngSubmit)="search(product.value)">
        <input class="me-2 search-input" ngModel name="name" type="search" placeholder="Search" aria-label="Search">
        <button class="search-button">Search</button>
    </form>
    <div class="nav-part-3"> 
        <a *ngIf="!service.loginStatus && !adminService.adminLoginStatus" class="login" routerLink="login">LogIn</a>
        <a *ngIf="service.loginStatus" class="login"  routerLink="logout">LogOut</a>
        <a *ngIf="adminService.adminLoginStatus" class="login"  routerLink="logout">LogOut</a>
        <a *ngIf="!adminService.adminLoginStatus" class="cart btn" routerLink="cart">Cart</a>
    </div>
  </div>

  <div class="header-2">   
    <nav class="navbar">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <img class="menu-icon" src="https://cdn-icons-png.freepik.com/256/4204/4204600.png?ga=GA1.1.388368384.1702624134&" alt="">
      </label>
      <ul>
        <li><a href="" class="active1" routerLink="">Home</a></li>
        <li><a *ngIf="!adminService.adminLoginStatus" href="" routerLink="aboutus">About Us</a></li>
        <li><a *ngIf="!adminService.adminLoginStatus" href="" routerLink="contact-us">Contact Us</a></li>
        <li class="dropdown">
          <a *ngIf="!adminService.adminLoginStatus" class="dropbtn">Categories</a>
          <div class="dropdown-content">
            <a (click)="fetchCatetory('Laptop')" >Laptops</a>
            <a (click)="fetchCatetory('Mobile')" >Mobiles</a>
            <a (click)="fetchCatetory('Smart Watch')" >Smart Watches</a>
            <a (click)="fetchCatetory('TV')">TV's</a>
          </div>
        </li>
        <li><a *ngIf="!adminService.adminLoginStatus" routerLink="products" >products</a></li>
        <li *ngIf="adminService.adminLoginStatus">
          <a routerLink="addproducts">Add Product</a>
          <a routerLink="showproducts">Show Products</a>
          <a routerLink="showallcustomers">Show All Customers</a>
          <a routerLink="showcustomerbyid">Show Customers By Id</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</nav>
