<footer class="footer">
    <div class="container">
      <div class="footer-columns">
        <div class="footer-column">
          <h4>Info</h4>
          <ul>
            <li routerLink="aboutus">About Us</li>
            <li>Compressions</li>
            <li>Customers</li>
            <li>Service</li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Collection</h4>
          <ul>
            <li><a href="/categoryComponent?category=Laptop">Laptops</a></li>
            <li><a href="/categoryComponent?category=Mobile">Mobiles</a></li>
            <li><a href="/categoryComponent?category=Smart%20Watch">Smart Watches</a></li>
            <li><a href="/categoryComponent?category=Tv">TV's</a></li>
            <!-- <li>Popular Designs</li> -->
          </ul>
        </div>
        <div class="footer-column">
          <h4>Art Skills</h4>
          <ul>
            <li>New Uploads</li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Legal</h4>
          <ul>
            <li>Customer Agreement</li>
            <li>Privacy Policy</li>
            <li>GDPR</li>
            <li>Security</li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Testimonials</h4>
          <ul>
            <li>Media Kit</li>
          </ul>
        </div>
      </div>
      <div class="newsletter">
        <h4>Newsletter</h4>
        <p>Subscribe to our newsletter for a weekly dose of news, updates, helpful tips, and exclusive offers.</p>
        <form>
          <input type="email" placeholder="Your email">
          <button type="submit">SUBSCRIBE</button>
        </form>
      </div>
    </div>
  </footer>
