
<div class="container-fluid">
  <carousel>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=TV">
        <img src="https://bajajdigital-cdn-endpoint.azureedge.net/product/7a1bd045-eefe-46f8-98a7-4fe21a948c99" class="d-block w-100" alt="slide1">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=TV">
        <img src="https://bajajdigital-cdn-endpoint.azureedge.net/product/b1eeec8d-ce63-4343-bd11-7793f9d96c43" class="d-block w-100" alt="Slide2">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=TV">
        <img src="https://bajajdigital-cdn-endpoint.azureedge.net/product/d1dfbb1f-ba2d-4f08-ab5f-82f1ef42eefd" class="d-block w-100" alt="slide3">
      </a>
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=Mobile">
        <img src="https://bajajdigital-cdn-endpoint.azureedge.net/product/3aef0a81-62f4-4763-a116-6c337cf183e0" class="d-block w-100" alt="slide4">
      </a>   
    </slide>
    <slide class="carousel-item">
      <a href="/categoryComponent?category=Mobile">
        <img src="https://www.reliancedigital.in/medias/Oneplus-Nord-CE3-5G-Banner-D.jpg?context=bWFzdGVyfGltYWdlc3wxMTA4MTV8aW1hZ2UvanBlZ3xpbWFnZXMvaDM4L2g1ZC8xMDEyNzg3MjA2NTU2Ni5qcGd8YTJmMDVjMGIyYThkNTg4NDFlOWZhZDhlMzY3NTRlNmZmOTQxMjA5OWY1M2RjYzYzMWY1MGRjM2RkNWI1YTEwNQ" class="d-block w-100" alt="slide5">
      </a>  
    </slide>
  </carousel>
</div>

<div class="best-deals">
    <h2>Best Deals on Mobiles</h2>
    <ul>
      <li>
        <a href="/categoryComponent?category=Mobile">
          <img src="https://www.reliancedigital.in/medias/OnePlus-12R-GDOE-Banners-340x255px.jpg?context=bWFzdGVyfGltYWdlc3w0ODk2OHxpbWFnZS9qcGVnfGltYWdlcy9oZGUvaDE3LzEwMTI1MTY5MDk4NzgyLmpwZ3xmMGVjMTk0NGFmYzljOTIwZTIwNzkyYTk4ZWI0ZWE0MTQ0ZWNmNjMxMjYwMjZlZDAzZjZiYjlhMmM4OTZmOGQ3" alt="Deal 1">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=Mobile">
          <img src="https://www.reliancedigital.in/medias/Redmi-A2-GDOE-Banners-340x255px.jpg?context=bWFzdGVyfGltYWdlc3w1MDU3NHxpbWFnZS9qcGVnfGltYWdlcy9oZDEvaDU4LzEwMTE0Njk4MjQ4MjIyLmpwZ3xiMGFlZWQwZTgyNTg2YTIxN2ZiNWM5MjZhNDFlM2E3YjEwZDRhMWI2OGFiOGNjOTA4MzcxNDk3ZTQzMWIyYjYw" alt="Deal 2">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=Mobile">
          <img src="https://www.reliancedigital.in/medias/GDOE-Banners-340x255px.jpg?context=bWFzdGVyfGltYWdlc3w1NTM4N3xpbWFnZS9qcGVnfGltYWdlcy9oZjIvaDVhLzEwMTE3NjY3NjUxNjE0LmpwZ3w0N2ZkNTQxODA0MzViY2NiNjA4MTBhYzc0ODY0NTNiMWJhMTdlOGRjMzU5MzVmMjk1MDJkMzE5ZmQ4NmRiOWE2" alt="Deal 3">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=Mobile">
          <img src="https://www.reliancedigital.in/medias/4-Poco-Offer-GDOE-Banners-340x255px.jpg?context=bWFzdGVyfGltYWdlc3w1NDA1M3xpbWFnZS9qcGVnfGltYWdlcy9oYWYvaDhmLzEwMTI2MzA5MzkyNDE0LmpwZ3wzMjlhYzk5NTMxNjA4OThkMmY0ZTE0YjI2NzMyNzdiMGRlNTA0OGEwMzJlYzQyYTQyMzc1MzVmMjQ0ZTZhYzBj" alt="Deal 3">
        </a>        
      </li>
      <!-- Add more deals here -->
    </ul>
  </div>
  
  <div class="best-deals">
    <h2>Best Selling Deals</h2>
    <ul>
      <li>
        <a href="/categoryComponent?category=Mobile">
          <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1712382061/Croma%20Assets/CMS/LP%20Page%20Banners/2024/Sanity/HP/April/06042024/HP_BestsellingDeals_SC_1_6April24_swiacx.png?tr=w-1024" alt="Deal 1">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=TV">
          <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1712299543/Croma%20Assets/CMS/LP%20Page%20Banners/2024/Sanity/HP/April/05042024/HP_BestsellingDeals_SC_4_5April24_ihloiv.png?tr=w-1024" alt="Deal 2">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=Laptop">
          <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1712299546/Croma%20Assets/CMS/LP%20Page%20Banners/2024/Sanity/HP/April/05042024/HP_BestsellingDeals_SC_6_5April24_beavdk.png?tr=w-1024" alt="Deal 3">
        </a>
      </li>
      <li>
        <a href="/categoryComponent?category=Smart%20Watch">
          <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1712303962/Croma%20Assets/CMS/LP%20Page%20Banners/2024/Bestselling%20Deals%20HP/April/5th/HP_BestsellingDeals_SC_9_5April24_txamww.png?tr=w-1024" alt="Deal 3">
        </a>
      </li>
      <!-- Add more deals here -->
    </ul>
  </div> 
