.container-1{
    margin-top: 8%;
    background-color: aquamarine;
    width: 100vw;
}
form{
    width: 20vw;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
form select{
    width: 60%;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}
form button{
    width: 30%;
    height: 40px;
    border: 2px solid black;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
}
form button:hover{
    width: 29%;
    background-color: black;
    color: white;
}



.outer1{
    width: 100vw;
}
.container table{
    border: 1px solid black;
}
table input{
    width: 80%;
}