<div class="outer1">
<div class="container">
  <br>
<br>
<br>
    <h1>Contact Us</h1>
    <p>Please feel free to reach out to us for any queries or concerns.</p>
  
    <h2>Corporate Address:</h2>
    <p># 28/1A, 100 Feet Road, Near CMH Road, Indiranagar, Bangalore – 560 038</p>
    
    <h2>Email:</h2>
    <p>helpline&#64;paiinternational.in</p>
    
    <h2>Phone:</h2>
    <ul>
      <li>Bangalore: 080 42464343 (10 AM - 7 PM)</li>
      <li>Hyderabad: 040 42464343 (10 AM - 7 PM)</li>
    </ul>
  
    <h2>WhatsApp:</h2>
    <p>WhatsApp us &#64; 9108444777 (10 AM - 7 PM)</p>
  
    <h2>Trade Enquiries:</h2>
    <p>Email: sales&#64;paiinternational.in</p>
  
    <h2>Corporate Enquiries:</h2>
    <p># 28/1A, 100 Feet Road, Near CMH Road, Indiranagar, Bangalore – 560 038</p>
    <p>Email: corpenquiries&#64;paiinternational.in</p>
  
    <h2>E-Waste Management Toll-Free Number:</h2>
    <p>18001024927</p>
</div>
<br>
  <hr>
</div>