.outercontainer{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.innercontainer{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(252, 226, 188);
    display: flex;
    flex-direction: column;
    height: 62%;
    width: 30%;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
}
h2{
    margin-top: 20px;
    font-weight: bolder;
    font-size:xx-large;
    color: black;
    text-shadow: 2px 2px 2px orange;
}

input{
    width: 100%;
    height: 50px;
    opacity: 0.5;
    border-bottom: 3px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 500;
}

button{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(2, 121, 0);
    border-radius: 25px;
    margin-top: 20px;
    font-weight: 500;
    transition: all 0.5s;
    background-color: goldenrod;
}

button:hover{
    color: wheat;
    background-color:black;
}

label{
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 5px;
    text-shadow: 2px 2px 2px white;
}