/* .container {
    width: 50%;
    margin: 0 auto;
    background-image: url();
} */

.registration-table {
    border-collapse: collapse;
    width: 100%;
}

.registration-table td {
    padding: 8px;
}

.register-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

p {
    font-size: 14px;
    margin: 2px;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Box shadow with a blur radius of 8px */
    transition: 0.3s; /* Transition effect to smooth the shadow */
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Increase shadow on hover */
}

/* Adjust the size and spacing of the reCAPTCHA */
.recaptcha-container .g-recaptcha {
    transform: scale(0.8); /* Adjust the scale factor to change the size */
    margin-left: 20px; /* Add spacing on the left side */
}

.box{
    height: 120vh;
    background-color: #a3a3a3;
     /* background-image: url(https://images.pexels.com/photos/33041/antelope-canyon-lower-canyon-arizona.jpg?auto=compress&cs=tinysrgb&w=600); */
     background-image: url(https://img.freepik.com/free-photo/top-view-desk-concept-with-coffee_23-2148604923.jpg?size=626&ext=jpg&ga=GA1.1.109224975.1713020189&semt=ais);
     background-color:no-repeat;
     background-size: cover;
     background-position: center;
     padding-top: 100px;
}

.container {
    width: 50%;
    height: fit-content;
    /* margin: 0 auto; */
    padding: 15px;
    border-radius: 20px;
    box-shadow: 12px 20px 15px 15px white;
    border: 1px solid rgb(224, 213, 237);
    color: aliceblue;
    margin-bottom: 10%;
    
}
form{
    margin-top: 6%;
    margin-bottom: 6%;
}

.error-message {
    margin-top: 5px;
}

.error-message div {
    font-size: 12px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}



td {
    padding: 10px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
    width: 100%; /* Fixed width for all input boxes */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the width */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
}

