<div class="outer1">
<div class="container">
    <br>
    <br>
    <br>
    <h1>About Us</h1>
    <p>Store Mart: The One-stop Shopping Destination</p>
    <p>A wide geographical presence plus E-commerce is revolutionizing the way we all shop in India. You can find everything on the Internet in a single click? Not only mobiles. Pai International houses everything you can possibly imagine, from trending electronics like laptops, tablets, smartphones, and mobile accessories to in-vogue fashion staples like clothing and lifestyle accessories; from modern furniture like sofa sets, dining tables, and wardrobes to appliances that make your life easy like washing machines, TVs, ACs, mixer grinder juicers and other time-saving kitchen and small appliances; we got them all covered. You name it, and you can stay assured about finding them all here. We are accessible and available 365*24*7 for you with just a click away. Click & Pick ( Pick from any nearby available store of your choice) Click & Buy to get a free delivery at your doorsteps. Shop in your PJs, at night or in the wee hours of the morning. This e-commerce never shuts down.</p>
    <h2>No Cost EMI & EMI on Debit Cards</h2>
    <p>In an attempt to make high-end products accessible to all, our No Cost EMI plan enables you to shop with us under EMI, without shelling out any processing fee. Applicable on select mobiles, laptops, large and small appliances, furniture, electronics, and watches, you can now shop without burning a hole in your pocket. If you've been eyeing a product for a long time, chances are it may be up for a no-cost EMI. Take a look ASAP! Terms and conditions apply.</p>
    <h2>Mobile Exchange Offers</h2>
    <p>Did you know debit card holders account for 79.38 crore in the country, while there are only 3.14 crore credit card holders? After enabling EMI on Credit Cards, in another attempt to make online shopping accessible to everyone, Pai International introduces EMI on Debit Cards, empowering you to shop confidently with us without having to worry about pauses in monthly cash flow.</p>
    <h2>What Can You Buy from Store Mart?</h2>
    <p>Mobile Phones & Electronic Devices and Accessories</p>
    <p>Get an instant discount on the phone that you have been eyeing on. Exchange your old mobile for a new one after the Pai International experts calculate the value of your old phone, provided, it is in a working condition without damage to the screen. If a phone is applicable for an exchange offer, you will see the 'Buy with Exchange' option on the product description of the phone. Also, the same can be opted in at any of our stores. So, be smart, always opt for an exchange wherever possible. Terms and conditions apply.
        From budget phones to state-of-the-art smartphones, we have a mobile for everybody out there. Whether you're looking for larger, fuller screens, power-packed batteries, blazing-fast processors, beautification apps, high-tech selfie cameras or just large internal space, multiple options available with all the choices.
        Shop from top brands in the country like Samsung, Apple, Oppo, Xiaomi, Realme, Vivo, and Honor to name a few. Rest assured, you're buying from only the most reliable names in the market.
        What's more, with Pai International's Complete Mobile Protection Plan, you will never again find the need to run around service centers. This plan entails you to a number of post-purchase solutions, starting at as low as Rupees 199 only! Broken screens, liquid damage to phone, hardware and software glitches, and replacements - the Pai International Complete Mobile Protection covers a comprehensive range of post-purchase problems, with door-to-door services.
        When it comes to laptops, we are not far behind. Filter among dozens of super-fast operating systems, hard disk capacity, RAM, lifestyle, screen size and many other criteria for personalized results in a flash. All you students out there, confused about what laptop to get? Our laptop & IT segregates laptops purpose wise (gaming, browsing and research, project work, entertainment, design, multitasking) with recommendations from top brands and industry experts, facilitating a shopping experience that is quicker and simpler. Turn your home into a theatre with a stunning surround sound system. Choose from our elaborate range of Sony home theatres, LG home Theaters & LG Xboom Speakers for an experience to remember. How about jazzing up your phone with our quirky designer cases and covers? Our wide-ranging mobile accessories starting from headphones, power banks, memory cards, mobile chargers, to selfie sticks can prove to be ideal travel companions for you and your phone; never again worry about running out of charge or memory on your next vacation.</p>
    <h2>Large Appliances</h2>
    <p>Sleek TVs, power-saving refrigerators, rapid-cooling ACs, resourceful washing machines - everything you need to run a house is discoverable under one roof. Our Dependable TV and Appliance Store ensures zero transit damage, with a replacement guarantee if anything goes wrong. Both delivery and installation are organized per your convenience. In addition, Brand warranty with purchase, Pai International also offers extended warranty - rest assured, value for money is what is promised and delivered. Choose & shop from market leaders in the country like Samsung, Voltas, Blue Star, Haier, TCL, LG, Whirlpool, Oneplus, Lloyd, Panasonic, Godrej, Sony, Daikin, and Hitachi among many others.</p> 
    <h2>Small Home Appliances</h2>
    <p>Find handy and practical home appliances designed to make your life simpler: electric kettles, OTGs, microwave ovens, sandwich makers, hand blenders, coffee makers, and many more other time-saving appliances that are truly crafted for a faster lifestyle. Live life king size with these appliances at home.</p>
    <h2>Home and Furniture</h2>
    <p>Moving to a new place is never easy, especially if you're buying new furniture. Beds, sofa sets, dining tables, wardrobes, and TV units - it's not easy to set up everything again. With the hundreds of options thrown open at you, the ride could be overwhelming. Where to place your furniture, what furniture will stand the test of time? These are questions you must ask before you choose a store. Well, our Durability Certified Furniture Store has not only curated a range of furniture keeping in mind the modern Indian consumer but furniture that comes with a lab certification, ensuring they last you for a longer period. Yes, all our furniture has gone through stability and load tests so that you receive only the best-quality furniture. You may have your furniture all set up, but they could end up looking flat and incomplete without complementary decor. Curtains, cushion covers, bed sheets, wall shelves, paintings, floor lamps - find everything that turns a house to an inviting home, under one roof - at Pai International Electronics Limited.</p>
  <hr>
</div>
<hr>
<hr>
</div>