body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif; /* Move font-family to body, html */
}
.outer1{
  width: 100vw;
  height: 1800px;
  /* background-image: url('https://wallpapers.com/images/high/obito-sharingan-red-pfp-jtctux2exh8rozbl.webp');
  background-image: url('https://th.bing.com/th/id/OIP.6GRJMiioVk9iT8Gc4qQk9gHaNK?pid=ImgDet&w=182&h=322&c=7&dpr=1.3');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: black;
}

h1 {
  /* color: #333; */
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  /* color: #333; */
  color: white;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px; /* Add margin-bottom for consistency */
}

p {
  /* color: #666; */
  color: white;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px; /* Add margin-bottom for consistency */
}

ul {
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
